/* ----------------------------------------------------------------------------
   Main
---------------------------------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
html body {
  margin-bottom: 120px; /* Margin bottom by footer height */
}

#logo_modul {
  margin-left: -15px;
}


/* ----------------------------------------------------------------------------
   Metadata Page
---------------------------------------------------------------------------- */
.panel-title {
    color: #004c93;
}


/* ----------------------------------------------------------------------------
   Footer
---------------------------------------------------------------------------- */

.internal_links li > a:hover, .internal_links li > a:focus {
  text-decoration: underline;
  background-color: transparent;
}
.internal_links > li > a {
  padding-bottom: 0;
}
.internal_links > li:nth-child(1) > a:nth-child(1) {
  padding-left: 0;
}

html body #powered_by {
  background-color: inherit;
  border-top: 0px;
  padding-top: 0;
}
.flatmir-footer {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

