/* ----------------------------------------------------------------------------
   imports
---------------------------------------------------------------------------- */
@import "../webjars/chosen/1.8.2/chosen.min.css";

/* ----------------------------------------------------------------------------
   Main
---------------------------------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
html body {
  background-image: url("../images/ude_wolken.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-color: rgb(0, 76, 147);
  background-attachment: fixed;
  overflow-y: scroll;
  padding-bottom: 160px; /* Padding bottom by footer height +20px */
}
html body #page {
  padding: 20px 40px;
  background-color: #f8f8f8;
  border: 2px solid #dce4ec;
  border-radius: 2px;
}
.form-control {
  border-radius: 2px;
}


/* ----------------------------------------------------------------------------
   Header
---------------------------------------------------------------------------- */
html body header #header_box {
  background-color: rgba(255,255,255,0.2);
  border-radius: 2px;
}
#project_logo_box {
  margin-top: 30px;
}
#logo_modul {
  margin-left: -15px;
}
html body header #header_box #project_logo_box a #logo_mir, html body header #header_box #project_logo_box a #logo_slogan {
    color: #fff;
}
#ude-logo img {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar {
  margin-bottom: 20px;
}
.mir-main-nav {
  box-shadow: unset;
}
.mir-prop-nav .navbar-nav > li > a {
  color: #fff;
}
.mir-prop-nav .navbar-nav > li > a .caret {
  border-top-color: #fff;
}


/* ----------------------------------------------------------------------------
   Metadata Page
---------------------------------------------------------------------------- */
.panel-title {
    color: #004c93;
}


/* ----------------------------------------------------------------------------
   Footer
---------------------------------------------------------------------------- */

.internal_links li > a:hover, .internal_links li > a:focus {
  text-decoration: underline;
  background-color: transparent;
}
.internal_links > li > a {
  padding-bottom: 0;
}
.internal_links > li:nth-child(1) > a:nth-child(1) {
  padding-left: 0;
}

html body #powered_by {
  background-color: inherit;
  border-top: 0px;
  padding-top: 0;
}
.flatmir-footer {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  border-top: 0px;
  width: 100%;
  height: 144px;
}


/* ----------------------------------------------------------------------------
   chosen (jquery plugin)
---------------------------------------------------------------------------- */

.chosen-container-single .chosen-single {
  font-size: 14px;
  line-height: 1.42857143;
  color: #1a171b;
  box-shadow: 0 0 0;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #dce4ec;
  border-radius: 0px;
  height: 44px;
  padding: 10px 20px;
}

.chosen-container-single .chosen-single div b {
  background: url(chosen-sprite.png) no-repeat 0 10px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  box-shadow: 0 0 0;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #dce4ec;
}
